<!-- BARRE D'ONGLETS DESKTOP -->
{% if (filter.0.getFilters('typology')|length > 0) %}
<nav class="hidden-xs nav-search">
    <ul class="nav nav-tabs myTab cap big-font" id="search-results-nav">
        <li {% if active_tab == null %}class="active"{% endif %}>
            <a class="onglet" data-anchor="false" data-toggle="tab" href="#" title="">Tous ({{ filter.0.response.totalResults }})</a>
        </li>
        {% for name, values in filter.0.getFilters('typology') %}
         {% if loop.index0 < 4 %}
             <li {% if active_tab == values.value|lower %}class="active"{% endif %}>
                <a class="onglet"  href="/search?q={{response.0.searchString | raw}}&type=typology:{{ values['value'] }}&filter=0" title="">{{ values['value'] }} ({{ values['count'] }})</a>
             </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}
<!-- /BARRE D'ONGLETS DESKTOP -->