{% set response = this.getObject().getParamValue('responses') %}
{% set linkbuilder = this.getObject().getParamValue('linkbuilders') %}
{% set pager = this.getObject().getParamValue('pagers') %}
{% set submittedQuery = this.getObject().getParamValue('submitted_query') %}
{% set three_first_videos = this.getObject().getParamValue('three_first_videos') %}





<!-- MONTEUR DE RECHERCHE TOP -->
{{ this.render(recherche_bloc)|raw }}
<!-- /MONTEUR DE RECHERCHE TOP -->
<!-- RESULTATS TOP-->
{% set cssSite = {'www.bfmtv.com': 'rub2', 'www.business.bfmtv.com': 'rub3', 'www.rmcsport.bfmtv.com': 'rub4', 'www.01net.com': 'rub5'} %}
{% set customTemplate = [ 'diaporama', 'article','video' ] %}
<div class="bloc col-xs-12 hidden-xs">
    {%  if (response.0.getSuggestions() | length != 0) %}
        <p>Essayez avec l'orthographe :
            {% for suggestion in response.0.getSuggestions() %}
                <em><strong><a href="{{ linkbuilder.0.getLink(suggestion) }}" title="{{ suggestion }}">{{ suggestion }}</a></strong></em>
            {% endfor %}
        </p>
    {% endif %}
    <!-- cluster -->
    <div>Environ {{response.0.totalResults}} résultats {# | Recherches associées à <strong>{{response.0.searchString}}</strong> : #}</div>
    <p id="loading_cluster"></p>

    <ul class="list-unstyled list-inline">
        {% set clusterCount = 3 %}
        {%  if (response.0.getSynonyms() | length != 0) %}
            {% for name,query in response.0.getSynonyms() %}
                {%  if clusterCount > 0 %}
                    <li><a href="{{ linkbuilder.0.getLink(suggestion) }}">{{ name }}</a></li>
                    {% set clusterCount = clusterCount-1 %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {%  if clusterCount > 0 %}
            {%  for i in 0..clusterCount %}
                {% if i-1 >= 0 %}
                    <li class="cluster_label{{ i }}"></li>
                {% endif %}
            {% endfor %}
        {%  endif %}

    </ul>

    <!-- cluster end -->
    <!-- suggestion begin -->

    <!-- suggestion end-->
</div>
<!-- /RESULTATS TOP-->

<!-- CONTENU RESULTATS -->
{% if(noquery.0) %}
    <div class="tab-content clearfix padding-top">
        <div class="tab-pane fade in active" id="all">
            <p>Pas de terme recherché</p>
        </div>
    </div>

{% elseif (response.0.getResults()|length == 0) %}
    <div class="tab-content clearfix padding-top">
        <div class="tab-pane fade in active" id="all">
            <p>Pas de résultat pour la recherche {{ response.0.getQuery() }}</p>
        </div>
    </div>
{% else %}

    {% include 'Block/Result/NavBlock.twig' %}
    {# include template by type, first type template differs from others #}

    <div class="bloc" id="search-result-content">

        <!-- Facette -->
        <div class="col-xs-3 col-md-3">
            {% for Namefacet, value in  response.0.getmetaTags() %}

                <h4 class="padding-left color-txt-3 title-medium cap">{{ value.0.NameFacet }}</h4>
                <div class="bg-color-1 box-shadow padding-inside-all bloc">
                    <ul class="list-unstyled">
                        {% set Valmin = ''  %}
                        {% set Valmax = ''  %}
                        {% set SetNameFacet = Namefacet  %}
                        {% for index, value in  value %}
                            {% if value.value  %}
                                {% set inmeta = "inmeta:" ~ Namefacet ~ "=" ~ value.valueFormat %}
                            {% else %}

                                {% if value.type == '2'%}
                                {% if Valmin == '' and loop.first %}
                                    {% set Valmin = value.l  %}
                                {% endif %}
                                {% if Valmax == '' and loop.last %}
                                    {% if value.h %}
                                        {% set Valmax = value.h  %}
                                    {% else %}
                                        {% set Valmax = value.l  %}
                                    {% endif %}
                                {% endif %}
                                {% endif %}

                                {% set inmeta = "inmeta:" ~ Namefacet ~ ":" ~ value.l ~ ".." ~ value.h %}

                            {% endif %}
                            <li>
                                {%   if this.UrlGSA(inmeta).1 == false %}
                                <a href="{{ this.UrlGSA(inmeta).0|raw }}">
                                {%  endif %}

                                {% if value.value %}
                                    {{ value.value }} ({{ value.count }})
                                    {%   if this.UrlGSA(inmeta).1 %}
                                    <a href="{{ this.UrlGSA(inmeta, true).0 }}"> X </a>
                                    {%  endif %}
                                {% else  %}
                                        {% if value.type != '2'%}
                                            {% if value.count > 0 %}
                                                {% if  value.h   %}
                                                    {{ value.h }}
                                                {% else  %}
                                                    plus
                                                {% endif %}
                                             -
                                                {% if   value.l   %}
                                                    {{ value.l }}
                                                {% else  %}
                                                    moins
                                                {% endif %}
                                                 ({{ value.count }})
                                                {%   if this.UrlGSA(inmeta).1 %}
                                                    <a href="{{ this.UrlGSA(inmeta, true).0 }}"> X </a>
                                                {%  endif %}
                                            {% endif %}
                                        {% endif %}
                                {% endif %}

                                {%   if this.UrlGSA(inmeta).1 == false %}
                                </a>
                                {% endif %}

                            </li>
                        {% endfor %}
                        {% if Valmin and Valmax %}

                            {% set  ValminSelect = Valmin %}
                            {% set  ValmaxSelect = Valmax %}
                                {% if ValMin != this.UrlGSA(inmeta, true, true, Valmin, Valmax, SetNameFacet).1[0] and  this.UrlGSA(inmeta, true, true, Valmin, Valmax, SetNameFacet).1[0] != ''%}
                                   {% set  ValminSelect = this.UrlGSA(inmeta, true, true, Valmin, Valmax, SetNameFacet).1[0] %}
                                {% endif %}
                            {% if Valmax != this.UrlGSA(inmeta, true, true, Valmin, Valmax, SetNameFacet).1[1] and  this.UrlGSA(inmeta, true, true, Valmin, Valmax, SetNameFacet).1[1] != '' %}
                                {% set  ValmaxSelect = this.UrlGSA(inmeta, true, true, Valmin, Valmax, SetNameFacet).1[1] %}
                            {% endif %}

                            <script>
                                $(function() {

                                    $('#{{ SetNameFacet }}Link').css({ 'display': 'none'});

                                    $( "#{{ SetNameFacet }}slider-range" ).slider({
                                        range: true,
                                        min: {{ Valmin }},
                                        max: {{ Valmax }},
                                        step: 100,
                                        values: [ {{ ValminSelect }}, {{ ValmaxSelect }} ],
                                        slide: function( event, ui ) {
                                            $('#{{ SetNameFacet }}Link').css({ 'display': 'block'});
                                            $(this).find('.ui-slider-handle').first().html("<div style='margin-top:-20px;'>" + ui.values[0] + "</div>");
                                            $(this).find('.ui-slider-handle').last().html("<div style='margin-top:-20px;'>" + ui.values[1] + "</div>");

                                            var inmeta = "{{ this.UrlGSA(inmeta, true, true, "ValMin", "ValMax", SetNameFacet).0|raw }}";
                                            inmeta =   inmeta.replace("ValMin", ui.values[0]);
                                            inmeta =   inmeta.replace("ValMax", ui.values[1]);

                                            var Fk = "{{ this.getObject().getParamValue('search_results_page') }}?" + inmeta;
                                            $('#{{ SetNameFacet }}Link').attr('href',Fk );
                                        }

                                    });

                                   $(".slider-range").each(function() {
                                        $(this).find('.ui-slider-handle').first().html("<div style='margin-top:-20px;'>" + $(this).slider("values", 0) + "</div>");
                                        $(this).find('.ui-slider-handle').last().html("<div style='margin-top:-20px;'>" + $(this).slider("values", 1) + "</div>");
                                    });


                                });
                            </script>


                            <style type="text/css">
                                #wrap .ui-widget-header{
                                    background: #E40613 !important;
                                }
                                #wrap .ui-slider-horizontal {
                                    height: 2px !important;
                                    border: 0 !important;
                                    background: #333 !important;
                                    border-radius: 0 !important;
                                }
                                #wrap .ui-state-default{
                                    background: #E40613 !important;
                                    color:#E40613 !important;
                                    height: 12px !important;
                                    border: 1px red !important;
                                    width: 12px !important;
                                    border-radius: 23px !important;
                                    padding: 0 ;
                                    margin: 0 0 0 -5px;
                                }
                                .slider-range-holder{
                                    width: 200px;
                                }
                                .steps{
                                    width: 200px;
                                }
                                #{{ SetNameFacet }}slider-range::before{
                                    content: "|";
                                    position: absolute;
                                    top: -11px;
                                    left: -3px;
                                    color: #333;
                                }
                                #{{ SetNameFacet }}slider-range::after{
                                    content: "|";
                                    position: absolute;
                                    top: -11px;
                                    right: -3px;
                                    color: #333;
                                }
                            </style>

                            <div class="slider-range-holder">
                                <div class="clearfix padding-topx2 padding-bottomx2">
                                        <div id="{{ SetNameFacet }}slider-range" class="relative slider-range clearfix"></div>
                                </div>
                                <a id="{{ SetNameFacet }}Link" class="btn btn-default" href="{{ this.getObject().getParamValue('search_results_page') }}?{{ this.UrlGSA(inmeta, true, true, Valmin, Valmax, SetNameFacet).0 }}">Filter</a>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <!--- //Fin Facet --->

        <!-- Resultat de recherche -->
        <div class="col-xs-8 col-md-8" id="all">
            <ul class="list-unstyled">
                {% set first = {} %}
                {% set result_amount = 0 %}
                {% set videoDisplayed = [] %}
                {% set videoBlock = true %}

                {% for index, result in three_first_videos %}
                    {% set videoDisplayed = videoDisplayed|merge([result.id]) %}
                {% endfor %}
                {% for index, result in response.0.getResults() %}

                    {% set currentId = result.id %}
                    {% if result_amount == 1 %}
                        {% include 'Block/Result/LienCommercialBlock.twig' with {'lien_id': 1} %}
                        {% include 'Block/Result/LienPartenaireBlock.twig' %}
                    {% endif %}
                    {% set typology = result.getMetaTag('typology')|lower %}
                    {% set result_amount = result_amount+1 %}
                    {%  if ( three_first_videos|length > 0 and videoBlock and (result_amount == 4 or (result_amount < 4 and loop.last)))  %}
                        {% include 'Block/SearchResults.videoinsert.twig' %}
                        {% set videoBlock = false %}
                    {% endif %}
                    {% if result_amount == 8 %}
                        {% include 'Block/Result/LienCommercialBlock.twig' with {'lien_id': 2} %}
                    {% endif %}
                    {% if submittedQuery.type != 'typology:video' %}
                        {% set type = result.getMetaTag('type')|lower %}
                        {% set articleSite = result.getMetaTag('site') %}
                        {% if type is not empty %}
                            {% if (type not in first) and pager.0.getCurrent() == 1 %}
                                {% set template ='Block/Result/'~type|capitalize~'.first.twig' %}
                                {% set first = first|merge({(type):true}) %}
                            {% else %}
                                {% set template ='Block/Result/'~type|capitalize~'.twig' %}
                            {% endif %}
                            {% include template %}
                        {%  elseif typology in customTemplate %}
                            {% if (typology not in first) and pager.0.getCurrent() == 1 and typology != 'video' %}
                                {% set template ='Block/Result/'~typology|capitalize~'.first.twig' %}
                                {% set first = first|merge({(typology):true}) %}
                            {% elseif  typology == 'video' and (result.id not in videoDisplayed)%}
                                {% set template ='Block/Result/'~typology|capitalize~'.twig' %}
                            {% elseif  typology != 'video' %}
                                {% set template ='Block/Result/'~typology|capitalize~'.twig' %}
                            {% endif %}
                            {% if template %}
                                {% include template %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!-- PUB BOTTOM -->
                {% include 'Block/Result/LienCommercialBlock.twig' with {'lien_id': 3} %}
                <!-- /PUB BOTTOM -->
            </ul>
        </div>









    </div>


    <!-- MONTEUR DE RECHERCHE BOTTOM -->
    {{ this.render(recherche_bloc)|raw }}
    <!-- /MONTEUR DE RECHERCHE BOTTOM -->
    <div  class="bloc">
        <ul class="list-unstyled list-inline">
            {%  set clusterBottomStart = 0 %}
            {%  set clusterBottomEnd = 5 %}
            {%  if(response.0.getSynonyms() | length != 0) %}
                {% for name,query in response.0.getSynonyms() %}
                    <li><a href="{{ linkbuilder.0.getLink(suggestion) }}">{{ name }}</a></li>
                    {%  set clusterBottomEnd = clusterBottomEnd-1 %}
                {% endfor %}
            {% endif %}
            {%  for i in 0..clusterBottomEnd %}
                <li class="cluster_label{{ i }}"></li>
                {%  set clusterBottomStart = clusterBottomStart+1 %}
            {% endfor %}

        </ul>
    </div>

    <!-- PAGE -->
    {% include 'Block/Result/PaginationBlock.twig' %}
    <!-- /PAGE -->
    {# js that loads associated searches #}
    <script type="text/javascript">

        $(document).ready(function(){
            {% set parameters = response.0.getParameters() %}
            window['GSA_getSearchRootPathPrefix'] = function() {
                return '{{ app.request.pathinfo }}';
            }
            {# cs_loadClusters('q={{ response.0.getSearchString() }}&site={{ parameters['site']['value'] }}',displayClusters); #}

            var parametresCsa =  setParamCsa( '{{ response.0.searchString }}');
            var parametresBlocCsa1 = parametresBlocCsa('bloc_csa_1', 5, true, '{{ response.0.searchString }}');
            var parametresBlocCsa2 = parametresBlocCsa('bloc_csa_2', 2, false, '{{ response.0.searchString }}');
            var parametresBlocCsa3 = parametresBlocCsa('bloc_csa_3', 2, false, '{{ response.0.searchString }}');

            // Appel effectif à AdSense : les paramètres des blocs sont passés dans l'appel
            new google.ads.search.Ads(parametresCsa, parametresBlocCsa1, parametresBlocCsa2, parametresBlocCsa3);

            new  google.setOnLoadCallback(function() {
                if ( $('#bloc_csa_1').height() <= 20) {
                    $('#liens-commerciaux_').hide();
                }
                if ( $('#bloc_csa_2').height() <= 20) {
                    $('#liens-commerciaux_2').hide();
                }
                if ( $('#bloc_csa_2').height() <= 20) {
                    $('#liens-commerciaux_3').hide();
                }
            });

        });

        function google_ad_request_done(google_ads) {

        }
        // code d'appel CSA
        //Masque les résultats organiques de la page
        var displayClusters = function (args,obj) {
            clustersList = obj.clusters[0].clusters;
            for(var data in clustersList){
                clusterLabel = clustersList[data].label;
                clusterLabel = clusterLabel.replace(" ","+");
                if ($('.cluster_label'+data) !== undefined) {
                    var li =  '<li><a href="/search?q='+clusterLabel+'">'+clustersList[data].label+'</a></li>';
                    $('.cluster_label'+data).html(li);
                }
            }
            $('#loading_cluster').hide();
        }



    </script>
{% endif %}
<!-- /CONTENU RESULTATS -->
<!-- /CONTENT -->
<script type="text/javascript" charset="utf-8">

    // Renvoie un objet contenant les paramètres d'affichage d'un bloc CSA donné

    //Génération des paramètres des blocs CSA




</script>