<div {{ this.bbcontent() | raw }} >
    {#% if response_video %
    {{ dump(response_video) }}
    #}
    {% if (response_video.value.results|length > 0) %}
        {% include 'Block/Result/VideoSearchRight.twig' %}
    {% endif %}

    <div class="bloc center hidden-xs">
        <!-- PUB -->
            {{ this.partial('partials/smartadserver.twig', {format_id: 98})|raw }}
            {{ this.partial('partials/smartadserver.twig', {format_id: 1972})|raw }}
        <!-- PUB -->
    </div>

    {% if (response_article.value.results|length > 0) %}
        {% include 'Block/Result/ArticleSearchRight.twig' %}
    {% endif %}

    <div class="bloc center hidden-xs">
        <!-- PUB BOTTOM -->
            {{ this.partial('partials/smartadserver.twig', {format_id: 289})|raw }}
        <!-- PUB -->
    </div>

    {% if (response_diaporama.value.results|length > 0) %}
        {% include 'Block/Result/DiaporamaSearchRight.twig' %}
    {% endif %}
    {% if (response_dossier.value.results|length > 0) %}
        {% include 'Block/Result/DossierSearchRight.twig' %}
    {% endif %}

    <div class="bloc center">
        <script type="text/javascript"><!--
            google_ad_client = "ca-pub-8147423388682709";
            /* btf_pave_droit_centre */
            google_ad_slot = "6818047589";
            google_ad_width = 300;
            google_ad_height = 250;
            //-->
        </script>

        <script type="text/javascript"
                src="//pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
</div>
